*.unitypackage filter=lfs diff=lfs merge=lfs -crlf
*.mov filter=lfs diff=lfs merge=lfs -crlf
*.exr filter=lfs diff=lfs merge=lfs -crlf
*.mp4 filter=lfs diff=lfs merge=lfs -crlf
*.psd filter=lfs diff=lfs merge=lfs -text
*.wav filter=lfs diff=lfs merge=lfs -crlf
*.mp3 filter=lfs diff=lfs merge=lfs -crlf
*.png filter=lfs diff=lfs merge=lfs -crlf
*.tif filter=lfs diff=lfs merge=lfs -crlf
*.jpg filter=lfs diff=lfs merge=lfs -crlf
*.dll filter=lfs diff=lfs merge=lfs -crlf
LightingData.asset filter=lfs diff=lfs merge=lfs -crlf
*.ogg filter=lfs diff=lfs merge=lfs -crlf
*.ogv filter=lfs diff=lfs merge=lfs -crlf
*.aiff filter=lfs diff=lfs merge=lfs -crlf
*.jpeg filter=lfs diff=lfs merge=lfs -crlf
*.exe filter=lfs diff=lfs merge=lfs -crlf
*.app filter=lfs diff=lfs merge=lfs -crlf
*.sln filter=lfs diff=lfs merge=lfs -crlf
